<div class=index>

  <h2>Welcome</h2>

  <p><%= link_to "New vendor", "/vendors/new" %></p>

  <p><%= link_to "Products", "/products" %></p>
  <p><%= link_to "Markets", "/markets" %></p>


  <div class = "field_input">

    <form action="/vendors/old" method="POST">
      <p>Vendor Name<input type="text" name="name"/></p>
      <p><input type="submit"/></p>
    </form>

  </div>



  <% @vendors.each do |vendor| %>
    <h4><%= vendor.name.upcase %></h4>
    <%= vendor.market_id %>
    <%= vendor.location %>
  <% end %>

</div>
