<div class = "new-vendor">

  <div class = "page-header">
    <h2> New Vendor Registration</h2>
  </div>


  <h4>Please enter your vendor information, then click "create": </h4>

  <div class = "fields">
    <div class ="field_labels">
      <p>Name</p>
      <p>Market ID</p>
      <p>Location</p>
    </div>

    <div class = "field_input"><form action="/vendors" method="POST">
      <p><input type="text" name=vendor[name] value= "<%= @vendor.name %>" /></p>
      <p><input type="text" name=vendor[market_id] value= "<%= @vendor.market_id %>"/></p>
      <p><input type="text" name=vendor[location] value= "<%= @vendor.location %>" /></p>

    <p><input type="submit"/></p>
    </form>

    </div>
  </div>

  <a class = "home-button" href = "/">Home</a>

</div>



















<!-- <%= form_for @vendor do |f| %>
  <div class="field-label">
    <p><%= f.label :name %></p>
    <p><%= f.label :market_id %></p>
    <p><%= f.label :location %></p>
  </div>

  <div class="field-area">
    <p><%= f.text_field :name %></p>
    <p><%= f.text_field :market_id %></p>
    <p><%= f.text_field :location %></p>
  </div>

  <p><%= f.submit "Create" %></p>

<% end %> -->
